<div class="table-container">
  <mat-table [dataSource]="dataSource$ | async" class="table-wraper" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="fullName" class="full-name" sticky>
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
      <td mat-cell *matCellDef="let element">
        <div class="full-name__wrapper">
          <a routerLink="/admin/employees">
            <img mat-card-avatar src="../../../../assets/images/avatar.jpg" />
            {{ element.fullName }}
          </a>
        </div>
      </td>
    </ng-container>

    <!-- DOB Column -->
    <ng-container matColumnDef="dob">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date of Birth</th>
      <td mat-cell *matCellDef="let element">{{ element.dob }}</td>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef>Age</th>
      <td mat-cell *matCellDef="let element">{{ element.age }}</td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
      <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
      <td mat-cell *matCellDef="let element">
        <span [ngClass]="'employee ' + element.department | lowercase">
          {{ element.department }}
        </span>
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="actions">
        <div class="show-edit-delete">
          <button mat-icon-button title="Edit" (click)="edit(element)">
            <mat-icon>launch</mat-icon>
          </button>
          <button mat-icon-button color="warn" title="Delete" (click)="delete(element)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="non-data">
      <mat-footer-cell *matFooterCellDef>Records Not Found</mat-footer-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <mat-footer-row
    *matFooterRowDef="['non-data']"
    [ngClass]="{hide: !!((dataSource$ | async)?.length !== 0)}"
    ></mat-footer-row>
  </mat-table>
  <mat-paginator
    [length]="tableDataLength()"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25, 100]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
