<div class="form-container">
  <div mat-dialog-title>
    <h2>Create Author</h2>
    <div mat-dialog-title class="icon-exit">
      <button mat-button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <!-- <h2 mat-dialog-title>Edit Employees</h2> -->
  <form mat-dialog-content *ngIf="authorsForm" [formGroup]="authorsForm" class="form-wrapper">
    <mat-grid-list cols="12" rowHeight="80px">
      <mat-grid-tile [colspan]="6" [rowspan]="1">
        <input type="hidden" formControlName="uuid" />
        <mat-form-field appearance="standard">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="fullName" placeholder="Full Name" required />
          <!-- <mat-error>{{ getErrorMessage('fullName') }}</mat-error> -->
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="6" [rowspan]="1">
        <mat-form-field appearance="standard">
          <mat-label>Date of birth</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Date of birth"
            color="primary"
            formControlName="dob"
            required
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="12" [rowspan]="2">
        <mat-form-field appearance="standard">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Description"
            rows="8"
            required
          ></textarea>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="12" [rowspan]="3">
        <div class="upload-file-wrapper">
          <input type="file" id="up-file" />
          <label for="up-file" class="label-upload-wrapper">
            <div class="label-upload">
              <mat-icon class="bounce">cloud_upload</mat-icon>
              <p>Drag and drop a file here or click</p>
            </div>
          </label>
        </div>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="6" [rowspan]="1" class="btn-submit-cancel">
        <button mat-flat-button color="primary">Submit</button>
        <button mat-stroked-button color="primary" [mat-dialog-close]="false">Cancel</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
