.form-container {
  .form-wrapper {
    .gender.mat-button-toggle-group {
      border-color: #ffffff;
      border-radius: 0;
      .mat-button-toggle {
        border: $disabled-color-1 solid 2px;
        @include w-h-option(50px, 50px);

        &:nth-child(1) {
          margin-right: 20px;
        }

        .ng-fa-icon {
          color: $disabled-color-2;
        }

        .mat-button-toggle-button {
          height: 100%;

          .mat-button-toggle-label-content {
            padding: 6px 0;
          }
        }

        &.mat-button-toggle-checked {
          border: $primary solid 2px;
          background: #ffffff;

          .ng-fa-icon {
            color: $black-5-opacity;
          }
        }
      }
    }
  }
}
