.table-container {
  overflow: auto;
}

.employee {
  padding: 3px 6px;
  border-radius: 50px;
  &.chairman {
    color: $black-10-opacity;
    background-color: #ffb22b;
  }

  &.director {
    color: #ffffff;
    background-color: #fc4b6c;
  }

  &.manager {
    color: #ffffff;
    background-color: #1e88e5;
  }

  &.staff {
    color: #ffffff;
    background-color: #21c1d6;
  }

  &.assistant {
    color: #ffffff;
    background-color: #21d65d;
  }

  &.accountant {
    color: #ffffff;
    background-color: #2f3d4a;
  }
}

.form-container {
  .form-wrapper {
    .gender.mat-button-toggle-group {
      border-color: #ffffff;
      border-radius: 0;
      .mat-button-toggle {
        border: $disabled-color-1 solid 2px;
        @include w-h-option(50px, 50px);

        &:nth-child(1) {
          margin-right: 20px;
        }

        .ng-fa-icon {
          color: $disabled-color-2;
        }

        .mat-button-toggle-button {
          height: 100%;

          .mat-button-toggle-label-content {
            padding: 6px 0;
          }
        }

        &.mat-button-toggle-checked {
          border: $primary solid 2px;
          background: #ffffff;

          .ng-fa-icon {
            color: $black-5-opacity;
          }
        }
      }
      .male {
        &.mat-button-toggle.mat-button-toggle-checked {
          .ng-fa-icon {
            color: $primary;
            @include font-size(18px);
          }
        }
      }

      .female {
        &.mat-button-toggle.mat-button-toggle-checked {
          border: $accent solid 2px;
          .ng-fa-icon {
            color: $accent;
            @include font-size(18px);
          }
        }
      }
    }
  }
}
