.lqh-breadcrumbs {
  &.mat-card {
    border-radius: 0px;
  }

  &__wrapper {
    margin-left: 15px;
  }

  &__title {
    color: $primary;
    @include font-size(23px);
    margin: {
      top: 5px;
      bottom: 5px;
    }
  }

  &__link {
    text-decoration: none;
    color: $primary;
    @include font-size($main-font-size);
    & ~ span {
      color: $black-3-opacity;
      @include font-size($main-font-size);
    }
  }

  .arrow::after {
    content: '〉';
    padding: {
      left: 5px;
      right: 5px;
    }
    color: $black-3-opacity;
    @include font-size(14px);
    font-weight: 900;
  }

  &__breadcrumb {
    font-weight: 200;
  }

  p {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
