.lqh-form-field-input-disabled {
  &.mat-form-field-appearance-standard {
    pointer-events: none;
    
    .mat-form-field-underline {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
      background-size: 4px 100%;
      background-repeat: repeat-x;
      background-color: transparent;
    }

    .mat-form-field-ripple {
      height: 0;
    }
  }
}