@mixin flex-between($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin w-h-100 {
  width: 100%;
  height: 100%;
}

@mixin w-h-option($height, $width) {
  width: $height;
  height: $width;
}
