.sidenav-container {
  height: 100%;
  padding-top: 3.5rem;
}

.sidenav {
  width: 240px;
  z-index: 3;
  padding-top: 3.5rem;
  border-right: none;
}

.mat-toolbar.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
