.sidenav-container {
  height: 100%;
  padding-top: 3.5rem;
}

.sidenav {
  width: 240px;
  z-index: 3;
  padding-top: 3.5rem;
  border-right: none;
}

.mat-toolbar.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.person-profile {
  &__avatar.mat-card-avatar {
    margin: {
      top: 40px;
      bottom: 50px;
      left: 30px;
    }

    width: 50px;
    height: 50px;
  }

  &__dropdown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    .mat-button {
      width: 100%;
      color: #ffffff;
    }
    .mat-menu-content {
      width: 200px !important;
    }
  }
}

.cdk-overlay-container {
  .lqh-mat-menu {
    margin-top: 5px;
    width: 200px;
  }

  .cdk-overlay-connected-position-bounding-box {
    align-items: center !important;
  }
}
