.table-wraper {
  width: 100%;
  overflow: auto;
  .full-name__wrapper {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: $primary;
      padding-left: 1rem;
      &:hover {
        color: $primary-hover;
      }
    }

    .mat-card-avatar {
      vertical-align: middle;
      padding-right: 15px;
    }
  }

  th.mat-header-cell {
    padding: 1rem 1rem;
    @include font-size($main-font-size);
  }

  td.mat-cell,
  td.mat-footer-cell {
    width: 100%;
    color: $black-7-opacity;
    @include font-size($main-font-size);
    padding: 1.5rem 1rem;
  }

  .mat-table-sticky {
    min-width: 200px;
  }

  .actions {
    min-width: 85px;
  }
}
