.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}

.w-h-100 {
  @extend .w-100;
  @extend .h-100;
}
