app-nav-bar {
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  z-index: 3;
  border-right: none;
}

.mat-toolbar.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
