.person-profile {
  &__avatar.mat-card-avatar {
    margin: {
      top: 37px;
      bottom: 37px;
      left: 30px;
    }

    width: 50px;
    height: 50px;
  }

  &__dropdown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: $black-5-opacity;
    .mat-button {
      width: 100%;
      color: #ffffff;
    }
    .mat-menu-content {
      width: 200px !important;
    }
  }

  .ring-ph-circle {
    width: 80px;
    height: 80px;
    top: 20px;
    left: 13px;
  }
}

.cdk-overlay-container {
  .lqh-mat-menu {
    margin-top: 5px;
    width: 200px;
  }

  .cdk-overlay-connected-position-bounding-box {
    align-items: center !important;
  }
}
