//Custom expansion panel
.lqh-mat-accordion {
  padding: 1rem;
  .mat-expansion-panel {
    margin-bottom: 10px;
    .mat-expansion-panel-header {
      padding: 0 16px;
      align-items: center;
      @include font-size(16px);
      &.mat-expanded:focus,
      &.mat-expanded {
        background-color: $accent;
        font-weight: 500;
        box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
          0 1px 8px 0 rgba(0, 0, 0, 0.12);
        .mat-expansion-panel-header-title {
          color: #ffffff;
        }

        .mat-expansion-indicator::after {
          color: #ffffff;
        }

        ::ng-deep .mat-expansion-indicator::after {
          color: #ffffff;
        }
      }
    }
    .mat-list-item {
      @include font-size($main-font-size);
      border-radius: 4px;
      height: 42px;
      color: $black-7-opacity;

      &.is-active {
        font-weight: 500;
      }
    }

    .lqh-mat-panel-title {
      color: $black-7-opacity;

      &.mat-expansion-panel-header-title {
        align-items: center;
      }

      .mat-icon {
        padding-right: 15px;
      }
    }

    &.mat-expansion-panel-spacing {
      margin: 12px 0;
    }
  }
}
