<div class="form-container">
  <div mat-dialog-title>
    <h2>Create Employees</h2>
    <div mat-dialog-title class="icon-exit">
      <button mat-button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <!-- <h2 mat-dialog-title>Edit Employees</h2> -->
  <form
    mat-dialog-content
    *ngIf="form"
    [formGroup]="form"
    class="form-wrapper"
    (submit)="onSubmit()"
  >
    <mat-grid-list cols="12" rowHeight="80px">
      <mat-grid-tile [colspan]="4" [rowspan]="7">
        <app-image-uploader
          [control]="form.controls.avatar"
          class="upload-file-wrapper uploaded-wrapper"
        ></app-image-uploader>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <input type="hidden" formControlName="id" />
        <mat-form-field appearance="standard">
          <mat-label>Full Name</mat-label>
          <input
            matInput
            formControlName="fullName"
            placeholder="Full Name"
            autocomplete="off"
            [appInputLetter]="true"
            required
          />
          <mat-error>
            <app-error-message [control]="form.controls['fullName']"></app-error-message>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field appearance="standard">
          <mat-label>Departments</mat-label>
          <mat-select placeholder="Department" formControlName="department" required>
            <mat-option *ngFor="let department of departments" [value]="department">{{
              department
            }}</mat-option>
          </mat-select>
          <mat-error>
            <app-error-message [control]="form.controls['department']"></app-error-message>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field appearance="standard">
          <mat-label>Date of birth</mat-label>
          <input
            matInput
            placeholder="Date of birth"
            color="primary"
            formControlName="dob"
            autocomplete="off"
            [appInputDate]="true"
            (change)="changeDate()"
            required
          />
          <mat-error>
            <app-error-message [control]="form.controls['dob']"></app-error-message>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field appearance="standard">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" placeholder="Age" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="8" [rowspan]="1" class="gender-grid-tile">
        <mat-button-toggle-group
          name="fontStyle"
          aria-label="Font Style"
          class="gender"
          formControlName="gender"
          id="gender"
        >
          <mat-button-toggle value="Male" class="male">
            <fa-icon [icon]="maleIcon" size="2x"></fa-icon>
          </mat-button-toggle>
          <mat-button-toggle value="Female" class="female">
            <fa-icon [icon]="femaleIcon" size="2x"></fa-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" autocomplete="off" required />
          <mat-error>
            <app-error-message [control]="form.controls['email']"></app-error-message>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field appearance="standard">
          <mat-label>Phone</mat-label>
          <input
            matInput
            formControlName="phone"
            placeholder="Phone"
            [appInputNumber]="true"
            autocomplete="off"
            required
          />
          <mat-error>
            <app-error-message [control]="form.controls['phone']"></app-error-message>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <!-- <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Password"
            [appInputLetter]="true"
            autocomplete="off"
            required
          />
          <app-lqh-progress-bar matSuffix></app-lqh-progress-bar>
          <mat-error>
            <app-error-message [control]="form.controls?.password"></app-error-message>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile> -->

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <app-password-input
          [control]="form.controls?.password"
          [fieldID]="'password'"
          class="w-100"
        >
        </app-password-input>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="4" [rowspan]="1">
        <mat-form-field appearance="standard">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            placeholder="Password"
            [appInputLetter]="true"
            autocomplete="off"
            required
          />
          <mat-error>
            <app-error-message [control]="form.controls['confirmPassword']"></app-error-message>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="8" [rowspan]="1" class="btn-submit-cancel">
        <button class="btn btn-flat-accent" mat-button>Submit</button>
        <button class="btn btn-stroked-accent" mat-button [mat-dialog-close]="false">Cancel</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</div>
