<mat-form-field appearance="standard" [ngClass]="{'lqh-form-field-input-disabled': disabled}">
  <mat-label>Password</mat-label>
  <input
    matInput
    [formControl]="control"
    type="password"
    placeholder="Password"
    autocomplete="off"
    [readonly]="disabled"
    required
  />
  <mat-error>
    <app-error-message [control]="control"></app-error-message>
  </mat-error>
  <div matSuffix class="suffix-container">
    <div
      *ngIf="control?.value"
      class="progress-icon"
      [id]="iconID"
      [ngClass]="{
        success: showIcon === 'success',
        error: showIcon === 'error',
        warning: showIcon === 'warning'
      }"
    >
      <mat-icon *ngIf="showIcon === 'success' || showIcon === 'warning'">done</mat-icon>
      <mat-icon *ngIf="showIcon === 'error'">close</mat-icon>
    </div>
    <div class="progress-bar-wapper">
      <div class="lqh-bar" [id]="barID"></div>
      <div class="lqh-progress" [id]="progressID"></div>
    </div>
  </div>
</mat-form-field>
