.person-profile {
  height: 160px;
  background: url(../../../../../assets/images/bkg-ne.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
