//Custom expansion panel
.lqh-mat-accordion {
  padding: 1rem;
  .mat-expansion-panel {
    .mat-expansion-panel-header {
      padding: 0 16px;
      &.mat-expanded:focus,
      &.mat-expanded {
        height: 48px !important;
        background-color: #26c6da;
        font-weight: 500;
        box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
        .mat-expansion-panel-header-title {
          color: #ffffff;
        }

        .mat-expansion-indicator::after {
          color: #ffffff;
        }

        ::ng-deep .mat-expansion-indicator::after {
          color: #ffffff;
        }
      }
    }
    .mat-list-item {
      font-size: 15px;
      border-radius: 4px;
    }

    &.mat-expansion-panel-spacing {
      margin: 12px 0;
    }
  }
}
