<mat-accordion>
  <div class="lqh-mat-accordion">
    <mat-expansion-panel
      *ngFor="let panel of accordionList"
      [hideToggle]="!(panel.children && panel.children.length > 0)"
      [expanded]="panel.isExpanded"
      [disabled]="panel.isDisabled"
      [routerLink]="panel.url && !(panel.children && panel.children.length > 0) ? panel.url : null"
    >
      <mat-expansion-panel-header [collapsedHeight]="'43px'" [expandedHeight]="'44px'">
        <mat-panel-title class="lqh-mat-panel-title">
          <mat-icon *ngIf="panel.matIcon">{{ panel.matIcon }}</mat-icon>
          <span>{{ panel.routeName }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list>
        <mat-list-item
          *ngFor="let child of panel.children"
          [routerLink]="child.url"
          [routerLinkActive]="'is-active'"
          >{{ child.routeName }}</mat-list-item
        >
      </mat-nav-list>
    </mat-expansion-panel>
  </div>
</mat-accordion>
